<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Test Suite" verbose="1" >

    <listeners>
        <listener class-name="com.OrangeHRM.qa.listeners.ExtentReportListener"/>
    </listeners>
<!-- 
	<listeners>
	    <listener class-name="com.OrangeHRM.qa.listeners.AllureTestListener"/>
	</listeners>
	<listeners>
	    <listener class-name="com.OrangeHRM.qa.listeners.AllureTestListener"/>
    	<listener class-name="com.OrangeHRM.qa.listeners.ExtentReportListener"/>
	</listeners>
	<listeners>
    	<listener class-name="com.OrangeHRM.qa.listeners.DualReportListener"/>
	</listeners>
-->
    <test name="Login Tests">
        <classes>
            <class name="com.OrangeHRM.qa.testcases.LoginPageTest"/>
	 	    <class name="com.OrangeHRM.qa.testcases.DashboardPageTest"/>
	        <class name="com.OrangeHRM.qa.testcases.AdminPageTest"/>
            <class name="com.OrangeHRM.qa.testcases.PIMPageTest"/>
        </classes>
    </test>
</suite>
